BASE_URL=https://example.com
API_VERSION=v1

TEST_USERNAME=test@example.com
TEST_PASSWORD=Password123

AUTH_ENDPOINT=/api/v1/login
USERS_ENDPOINT=/api/v1/users

REQUEST_TIMEOUT=10000
RESPONSE_TIMEOUT=10000
RATE_LIMIT_REQUESTS=20
ENABLE_API_SECURITY_TESTS=false
